<!-- Modal -->
<form method="post" class="form" action="{{ url_for('edit_task', id=task.id) }}">
<div class="modal fade" id="{{ task.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ edit_form.csrf_token() }}
        {{ render_field(edit_form.description, value=task.description) }}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {{ render_field(edit_form.submit, class='btn btn-primary') }}
      </div>
    </div>
  </div>
</div>
</form>